# Project exclude paths
/hello-spring-cloud-alibaba-nacos-consumer/target/
/hello-spring-cloud-alibaba-nacos-consumer-feign/target/
/hello-spring-cloud-alibaba-nacos-provider/target/
/hello-spring-cloud-gateway/target/